{% extends "main.html" %}
{% block announce %}
  <div class="announcement">
      <a href="https://slabserver.org/polls/2026.md" class="announcement-click">
      The Great Slabserver Poll results are out! Click here for more info
      </a>
  </div>
{% endblock %}
{% block tabs %}
  {{ super() }}
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image">
          <img src="assets/images/hero.png" alt="" draggable="false">
        </div>
        <div class="mdx-hero__content">
          <img src="assets/images/logo.png" alt="" draggable="false">
          <h1>Welcome to the Etho Community! We hope you've got your snacks...</h1>
          <p>Welcome to <b>Slabserver</b> – the home of everything Etho. Founded in 2015, our community is a friendly, energetic, and inclusive space where fans of Etho can come to chat, connect, and create together.
            <br><br>
            Whether joining the conversation on our Discord, playing on our Minecraft servers, or simply meeting like-minded friends and fans, Slabserver has it all.
            <br><br>
            Join us below, and be a part of the community!</p>
            <div class="mdx-hero__buttons">
              <a href="https://slabserver.org/discord" title="Join our Discord" class="md-button md-button--discord">
                <span class="twemoji discord">
                  {% include ".icons/simple/discord.svg" %}
                </span>
                Join our Discord
              </a>
              <a href="https://slabserver.org/discord" title="Join our servers" class="md-button md-button--minecraft">
                <span class="twemoji minecraft">
                  {% include ".icons/material/minecraft.svg" %}
                </span>
                Join our servers
              </a>
            </div>
          </p>
        </div>
      </div>
    </div>
  </section>

    <!-- Additional styles for landing page -->
    <style>    
                .md-main {
              height: 0;
              width:0;
              overflow:hidden;
            }
            .md-main__inner {
              margin: 0;
            }
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
        @media (min-width: 1220px) {
            .md-main {
              /* visibility: hidden; */
              height: 0;
              width:0;
              /* overflow:hidden */
            }

            .md-sidebar--secondary {
                display: none
            }
        }
      
        /**/
        /*Adjusting Mobile UI */
        /**/
        @media screen and (max-width:  29.984375em) {
            .md-main {
              height: 0;
              width:0;
            }
        }
    
        @media screen and (min-width: 60em) {
            .md-sidebar--secondary {
                display: none
            }

            .md-main {
              height: 0;
              width:0;
            }
        }
    
        @media screen and (min-width: 76.25em) {

          .md-sidebar--secondary {
                display: none
            }
        }
    </style>
    
    
{% endblock %}
{% block footer %}{% endblock %}
