body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

.md-banner {
  background-image: linear-gradient(to right, var(--md-primary-fg-color), var(--md-primary-fg-color), #851a1f, #851a1f, #a30e16, #851a1f, #851a1f, var(--md-primary-fg-color), var(--md-primary-fg-color));
  /* background-color: #851a1f; */
  color: var(--md-accent-bg-color);
  text-align: center;
}

a.announcement-click {
  color: #ffffff;
  display: block;
  height: 100%;
  width: 100%;
}

.md-tabs {
  overflow: visible;
}

.md-typeset {
  /*1.25*/
}

.md-typeset h1 {
  margin-bottom: 0.625em;
  /*1.25*/
}

.md-typeset h2 {
  margin-top: 1.2em;
  /*1.6 */
  margin-bottom: 0.32em;
  /*0.64 */
}

.md-typeset h3 {
  margin-top: 0.8em;
  /*1.6 */
  margin-bottom: 0.32em;
  /*0.64 */
}

.md-typeset h4 {
  margin-top: 0.5em;
  /*1 */
  margin-bottom: 0.5em;
  /*1 */
}

.md-typeset h2+h3 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

p {
  /* margin-top: 0.65em;
  margin-bottom: 0.65em; */
}

.md-typeset hr {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.md-typeset__scrollwrap {
  margin-bottom: 0.5em;
}

.md-main__inner {
  margin-top: 1rem;
}

.md-post--excerpt {
  margin-bottom: 1.6rem;
}

.mdx-container {
    background: 
      linear-gradient(
        to bottom,
        var(--md-primary-fg-color),
        #648472 100%,
        var(--md-default-bg-color) 100%
      );
    width: 100vw;
    display: flex;
    height: 100vh;
    /* min-height: auto; */
    /* box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden; */
}
[data-md-color-scheme="slate"] .mdx-container {
background:
    linear-gradient(
    to bottom,
    var(--md-primary-fg-color),
    #363949 100%,
    var(--md-default-bg-color) 100%
    );
}
.mdx-hero {
  animation: 0.5s mdx-anim;
  color: var(--md-primary-bg-color);
  margin: 0 0.8rem;
}
.mdx-hero h1 {
  color: currentcolor;
  font-weight: 700;
  /* margin-bottom: 1rem; */
  font-size: 1.2rem;
  padding-left: 0.5em;
  margin-bottom: 1.25em
}
.mdx-hero p {
  padding-left: 1em;
}
.mdx-hero__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 29.984375em) {
  .mdx-hero h1 {
    font-size: 1.35rem;
  }
  .md-header__title {
    font-size: 0.64rem;
  }

  .mdx-container {
    height: 100%;
  }
}

@media screen and (min-width: 60em) {
  .mdx-hero__image {
    order: 1;
    transform: translateX(3rem);
    max-width: 63%;
    /* width: 38rem; */
  }
  .mdx-hero {
    align-items: stretch;
    display: flex;
  }
  .mdx-hero__content {
    margin-top: 3.5rem;
    max-width: 19rem;
  }
  .mdx-container {
   height: calc(100vh - (48px));
  }
  /* Maximum space for text block */
  /* .md-grid {
    max-width: 85%;
  } */
}
@media screen and (min-width: 76.25em) {
  .mdx-hero__image {
    transform: translateX(7.5rem);
  }

  .mdx-container {
    display: flex;
    /* height: calc(100vh - (52.8px * 2)); */
  }
}
@media screen and (min-width:100em){
  .mdx-container {
    height: calc(100vh - (57.59px * 2));
  }
}
.mdx-hero .md-button {
  color: var(--md-primary-bg-color);
  margin-left: 0.4rem;
  /* margin-right: 0.5rem; */
  margin-top: 0.5rem;
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.mdx-hero .md-button--discord:focus,
.mdx-hero .md-button--discord:hover {
  background-color: #5865F2;
  border-color: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color);
  /* background-color: var(--md-accent-fg-color); */
}
.mdx-hero .md-button--discord {
  background-color: #ffffff;
  border-color: #ffffff;
  /* color: #607C6A; */
  color: #648472;
  /* padding-left: 1em; */
  /* padding-right: 1em; */
}

.mdx-hero .md-button--minecraft:focus,
.mdx-hero .md-button--minecraft:hover {
  background-color: #008c45;
  border-color: #008c45;
  color: var(--md-accent-bg-color);
  /* background-color: var(--md-accent-fg-color); */
}
.mdx-hero .md-button--minecraft {
  background-color: #ffffff;
  border-color: #ffffff;
  /* color: #607C6A; */
  color: #648472;
  /* padding-left: 1em; */
  /* padding-right: 1em; */
}

[data-md-color-scheme="slate"] .mdx-hero .md-button--primary {
  /* background-color: var(--md-primary-bg-color);
  border-color: var(--md-primary-bg-color);
  color: #343745 */
  /* padding-left: 1em;
  padding-right: 1em; */
}

[dir=ltr] .md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
  margin-left: 0.75rem;
  font-size: 0.725rem;
}

[dir=ltr] .md-sidebar--secondary:not([hidden])~.md-content>.md-content__inner,[dir=rtl] .md-sidebar--primary:not([hidden])~.md-content>.md-content__inner {
  margin-right: 0.75rem;
  font-size: 0.725rem;

  /* font-size: 0.1rem; */
}

[dir=rtl] .md-sidebar--secondary:not([hidden])~.md-content>.md-content__inner {
  margin-left: 0.75rem;
  font-size: 0.725rem;

  /* font-size: 0.1rem; */
}

@keyframes mdx-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
  padding-top: 0.625em;
  padding-right: 1.25em;
  padding-bottom: 0.625em;
  padding-left: 1.25em;
  white-space: nowrap;
    /* padding: 8px 16px; */
}

li {
    /* font-size: 0.80rem; */
}

article ul ul {
  list-style-type:  circle !important;
}
article ul ul ul {
  list-style-type:  square !important;
}

.md-typeset ul li {
  margin-top: 0em; 
  margin-bottom: 0.5em;
}

.md-typeset ul li p {
  margin-top: 0em; 
  margin-bottom: 0em; 
}

.md-typeset ul li ul {
  margin-top: 0em; 
  margin-bottom: 0.25em; 
}

.md-typeset ul li ul li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.md-typeset ul li ul li ul {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}

.md-typeset ul li ul li ul li {
  margin-top: 0.125em;
  margin-bottom: 0em;
}


/* .md-typeset ol li ol { margin: 0 0 0 0.625em; } .md-typeset ol li { margin-bottom: 0; } */

.headerlink {
	--permalink-size: 16px; /* for font-relative sizes, 0.6em is a good choice */
	--permalink-spacing: 4px;

	width: calc(var(--permalink-size) + var(--permalink-spacing));
	height: var(--permalink-size);
	vertical-align: middle;
	background-color: var(--md-default-fg-color--lighter);
	background-size: var(--permalink-size);
	mask-size: var(--permalink-size);
	-webkit-mask-size: var(--permalink-size);
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	visibility: visible;
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>');
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg>');
}

[id]:target .headerlink {
	background-color: var(--md-typeset-a-color);
}

.headerlink:hover {
	background-color: var(--md-accent-fg-color) !important;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

article.md-post--excerpt p, article.md-post--excerpt nav {
  display: none;
}
